@media (max-width:1400px) {}

@media (max-width:1200px) {
  .products__img {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer {
    padding: 80px;
  }

  .nav {
    padding: 20px 15px;
  }
}

@media (max-width:992px) {
  .hero__btn {
    padding: 20px 40px;
  }

  .hero__title {
    font-size: 38px;
  }

  .logo img {
    width: 50px;
  }

  .nav__list {
    gap: 90px;
  }

  .main__links.container {
    max-width: 720px;
  }

  .main__list {
    gap: 10px;
  }

  .main__list_link {
    gap: 0;
  }

  .products__title {
    font-size: 36px;
  }

  .products__text {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .products__left {
    max-width: 540px;
    height: 550px;
    width: 100%;
  }

  .products__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer__top {
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    padding: 80px 20px;
  }

  .footer__bottom {
    margin-top: 80px;
  }

  .footer__label {
    max-width: 450px;
  }

  .footer__label input {
    padding: 20px 10px;
  }

}

@media (max-width:768px) {
  .nav__list {
    gap: 45px;
  }

  .nav__list_link {
    font-size: 18px;
  }

  .hero__title {
    font-size: 30px;
  }

  .main__links.container {
    max-width: 540px;
  }

  .main__links {
    height: 90px;
  }

  .main__list_link::after {
    width: 29px;
  }

  .main__list_link {
    font-size: 14px;
  }

  .main__list {
    gap: 0;
  }

  .cards {
    margin: 80px auto;
  }

  .products__title {
    font-size: 29px;
  }

  .products__left {
    height: 450px;
  }
}

@media (max-width:576px) {
  .products__right {
    width: 100%;
  }

  .nav {
    flex-direction: column;
    gap: 30px;
  }

  .nav__list,
  .nav__btns {
    gap: 30px;
  }

  .hero__title {
    font-size: 26px;
  }

  .hero {
    height: 650px;
  }

  .hero__btns {
    gap: 20px;
  }

  .hero__btn {
    padding: 15px 30px;
    font-size: 16px;
  }

  .main__list {
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 0;
  }

  .card {
    max-width: 300px;
  }

  .card__img {
    height: 250px;
  }

  .card__img img {
    height: 100%;
  }

  .products__title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer__bottom {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .footer__label input {
    padding: 15px 10px;
  }

  .footer__label img {
    width: 50px;
    right: 10px;
  }

  .main__links.container {
    max-width: 370px;
  }
}

@media (max-width:390px) {}