* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
}

:root {
  --font-family: "Oxygen", sans-serif;
  --second-family: "Montserrat", sans-serif;
}

button,
input {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

body {
  background: #c3bdb0;
}


.header {
  background: #212121;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nav__list {
  display: flex;
  gap: 120px;
}

.nav__list_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #f0f0f0;
  transition: 0.3s ease;
}

.nav__list_link:hover {
  color: #a22b4d;
}

.nav__list_link:hover::after {
  transform: scale(1);
}

.nav__list_link::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #a22b4d;
  margin-top: 5px;
  transform: scale(0);
  transition: 0.3s ease;
}


.nav__btns {
  display: flex;
  gap: 60px;
}

.count {
  width: 17px;
  height: 17px;
  background: #a22b4d;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #c3bdb0;
  position: absolute;
  top: -5px;
  right: -5px;
}

.nav__btn {
  position: relative;
}

path {
  transition: 0.3s ease;
}

.nav__btn:hover svg path {
  fill: #a22b4d;
}


.hero {
  height: 800px;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #f0f0f0;
  max-width: 920px;
}

.hero__btns {
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 30px;
}

.hero__btn {
  padding: 30px 55px;
  border: 2px solid #c3bdb0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #f0f0f0;
  position: relative;
}

.hero__btn::after {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background: #212121;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease;
}

.hero__btn:hover::after {
  width: 100%;
}


.main__links {
  box-shadow: 0 2px 13px 2px rgba(0, 0, 0, 0.25);
  background: #dedad1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 120px;
  width: 100%;
}

.main__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
}

.main__list_link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  color: #7c7c7c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  transition: .3s ease;
  text-transform: uppercase;
}

.main__list_link:hover {
  color: #212121;
}

.main__list_link::after {
  content: '';
  display: block;
  width: 37px;
  height: 2px;
  background: #212121;
  transform: rotate(90deg);
}

.main__list li:last-child a::after {
  display: none;
}


.cards {
  margin: 140px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background: #dedad1;
  border: 1px solid #212121;
  padding: 20px;
  max-width: 350px;
  width: 100%;
  overflow: hidden;
}

.card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
}

.card__top_discont {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #f0f0f0;
  position: relative;
}

.card__top_discont::after {
  content: '';
  display: block;
  width: 170px;
  height: 50px;
  background: #212121;
  position: absolute;
  top: -6px;
  left: -58px;
  transform: rotate(50deg);
  z-index: -1;
}

.card__img {
  text-align: center;
}

.card__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  color: #313131;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card__line {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #939393;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  position: relative;
}

.card__bottom_price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #212121;
}

.card__bottom_btn {
  padding: 16px 26px;
  border: 2px solid #212121;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #212121;
  position: relative;
  display: block;
}


.card__bottom_btn::after {
  content: '';
  display: block;
  width: 0%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease;
}

.card__bottom_btn span {
  position: relative;
  z-index: 2;
  transition: 0.5s ease;
}

.card__bottom_btn:hover::after {
  width: 100%;
}

.card__bottom_btn:hover span {
  color: #fff;
}


.products {
  margin-bottom: 180px;
}

.products__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #212121;
  max-width: 890px;
}

.products__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #212121;
  margin-top: 45px;
  margin-bottom: 95px;
}

.products__img {
  display: flex;
  gap: 30px;
}

.products__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  padding: 80px 160px;
  background: #141510;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #f0f0f0;
}

.footer__label {
  position: relative;
  max-width: 550px;
  width: 100%;
}

.footer__label input {
  border: 1px solid #dedad1;
  background: #20211b;
  width: 100%;
  padding: 25px 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #dedad1;
}

.footer__label img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 24px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.footer__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__list_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #dedad1;
  opacity: 0.5;
  transition: 0.3s ease;
  display: inline-block;
}

.footer__list_link:hover {
  transform: scale(0.9);
  opacity: 1;
}